* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_container {
    margin-top: -5%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 30%;
    /* height: 100px; */
    display: flex;
    /* border: 2px red solid; */
    margin:5px
}

.music_img {
    float: left;
    width: 20%;
    /* height: 100%; */
}

.text_container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.music_name{
    font-weight: 700;
}

.music_type{
    color:gray;
}




.artist_img{
    border-radius: 50%;
}

.artist_card_list_container{
    margin-top: -5%;
    margin-bottom: 5%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}




.centred_track_container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

.text_centred{
    font-weight: 700;
    font-size: 30px;
}

.h1{
    font-size:50px;
}

.underline{
    margin: 20px auto;
    width: 40%;
    border-bottom: 2px solid brown;
}

.long{
    width: 100%;
    border-bottom: 2px solid gray;
}







footer{
    margin-top: 10%;
    width: 100%;
    height: 300px;
    background-color: black;
}

.info_links_container{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.links{
    display: flex;
    flex-direction: column;
}




.header_container{
    width: 100%;
    height: 50px;
    background-color: black;
    /* margin-bottom: 5%; */
    display: flex;
    /* position: fixed; */
}


.logo{
    margin: auto;
}


.player{
    display: flex;
    width: 40%;
}

.player_img{
    width: auto;
}

nav{
    display: flex;
    width:40%;
    margin: auto 0;
}
nav .nav_container{
    margin-left: auto;
    display:flex;
}

nav a{
    margin-right: 10px;
}


.user_photo_container{
    width: 100%;
    /* display: flex; */
}

.user_photo{
    vertical-align: middle;
    width: 10%;
    border-radius: 50%;
}


.lang a,.time_zone{
    color:gray;
}

.lang{
    margin-right: 5px;
}

.lang a:hover{
    text-decoration: underline;
}
.footer_down_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.links_header{
    color:grey;
}

a{
    text-decoration: none;
    color:white;
}

.white_text{
    color:white;
}



.search_res_container{
    display: flex;
    width: 100%;
}


